extends ../base

block content
    img(src='https://media.discordapp.net/attachments/866231236023943209/870980495968731156/rank-0.png')
    div(style='position: absolute; left: 100px; top: 0; font-weight: 900; font-size: 20px')
        | 와아